extends layout

block body
	.whole
		header
			h1.brand
				a(href='#') Sami
			nav
				ul
					li
						a(href='#') Projects
					li
						a(href='#') Contact
					li
						a(href='#') About
					li
						a(href='#') Home
		.row
		.row
		.row
			span= title
