extends layout

block body
	.whole
		header
			h1.brand.full-line
				a(href='#') Sami
			nav
				ul
					li
						a(href='#') Home
					li
						a(href='#') about
					li
						a(href='#') contact
					li
						a(href='#') projects
		.row
		.row
		.row
			span= title
