extends layout

block body
	.wrap
		header
			h1.brand
				a(href='#') Sami
			nav
				ul
					li
						a(href='#') Projects
					li
						a(href='#') Contact
					li
						a(href='#') About
					li
						a(href='#') Home
		.row
			.col-3.column
			.col-3.column
			.col-3.column
			.col-3.column
		.row
			.col-6.column
			.col-6.column
		.row
			.col-12.column
		.row
			.col-4.column
			.col-4.column
			.col-4.column
