doctype html
html
	head(lang='en')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' href='/css_goodness/style.css')
		title= title
		//- link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/js/libs/lab.js')
		script(src='/js/requires.js')
	body
		block body
