body
	background-color $silver
html
	background-color $gray
.wrap
	background-color tomato
header
	background-color $orange
.container:nth-child(1)
	background-color $yellow
.container:nth-child(2)
	background-color $aqua
.container:nth-child(3)
	background-color $teal
.container:nth-child(4)
	background-color $lime
	
	
