
// tmp
.row
	boxit(medium)

html
	bg(black)
body 
	bg($silver)
.whole
	bg($gray)
.row:nth-child(1)
	bg($yellow)
.row:nth-child(2)
	bg($aqua)
.row:nth-child(3)
	bg(orange)
.row:nth-child(4)
	bg($lime)
.row:nth-child(5)
	bg($teal)
.row:nth-child(6)
	bg($orange)