noUnderline()
	text-decoration none
defaultPadding()
	padding 5px
navPadding()
	padding 0 7px
navh()
	height 50px
lefty()
	float left
righty()
	float right
rmBullet()
	list-style none
marginLess()
	margin 0
paddingLess()
	padding 0
sidePadding(size)
	padding 0 size
inline()
	display inline
fullLine()
	display block
ovehid()
	overflow hidden
rPadding(size)
	padding-right size
lPadding(size)
	padding-left size
getParentH()
	display inline-block
	line-height 50px
font()
	font-family "Helvetica Neue",Helvetica,Arial,sans-serif


header
	bg(#222)
	

.brand 
	lefty()
	font()
//	font-size 27px

.brand a
	lPadding(xmaller)
	noUnderline()
	color #337ab7
	font()
	
.brand a:hover
	color white

header h1.brand, nav h2.brand, nav h3.brand, nav h4.brand, nav h5.brand, nav h6.brand
	marginLess()
	getParentH()

nav
	navh()
	navPadding()
	// ovehid()

nav ul
	getParentH()
	righty()
	paddingLess()
	marginLess()
	ovehid()
	
nav ul li
	getParentH()
	lefty()
	rmBullet()

nav ul li:hover 
	bg(#333)
	
nav ul li a 
	sidePadding(xmall)
	getParentH()
	color #9d9d9d
	noUnderline()

nav ul li a:hover
	color white
