big-height()
	min-height big
bigger-height()
	min-height big + 10
medium-height()
	min-height medium 
base-height()
	min-height base
	
enclose(num)
	max-width num


full-width()
	width 100%

center()
	margin 0 auto
	
bg(color)
	background-color color

boxit(size)
	min-height size
	min-width size
