html
	full-width()
	bigger-height()
body
	full-width()
	big-height()

.whole
	enclose(85%)
	base-height()
	center()

html
	font bsfont
	



// tmp
.row
	boxit(medium)



// tmp
html
	bg(black)
body 
	bg($silver)
.whole
	bg($gray)
.row:nth-child(1)
	bg($yellow)
.row:nth-child(2)
	bg($aqua)
.row:nth-child(3)
	bg($teal)
.row:nth-child(4)
	bg($lime)

